@{
    Layout = null;
}
@model UserModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <form method="post">
        <div class="input-box">
            <input type="text" asp-for="Username" required />
            <label>Username</label>
        </div>
        <div class="input-box">
            <input type="password" asp-for="Password" required />
            <label>Password</label>
        </div>
        <button type="submit">Login</button>
    </form>
    @if (ViewBag.Error != null) {
        <p style="color:red">@ViewBag.Error</p>
    }
</body>
</html>